# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
#*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.log
record.json
#package.json

/.svn/
/.svn/*
/node_modules/
/banner_img/
/download/*
/upload/*
/record/*
/record/record.json
/generate/*
/data/
/data/*
/data/banner_data.json
/data/index_cms.vm
data/index_cms.vm